$transparent : #ffffff24;

$white: #fff;
$creamy-white: #eee;
$off-white: #8e8e8e;

$black: #000;
$dark-black:#232323;
$midean-black:#2d2d2d;
$light-black: #464646;

$yellow: #ffc107;
$dark-yellow:#cc9a04;
$light-blue: #26a2fa;
$midean-blue: #25a0f8;
$dark-blue: #0066ae;
$gray: #b7bec5c2;
$median-gray:#696868;
$dark-gray : #495057;
$dark-pink: #fe770d;
$midean-pink:#fe770d;
$orange:#fe770d;